.nvg
{
    display: flex;
    flex-flow: row;
    background-color: #171717;
    vertical-align: middle;
    padding: 20px 0;
}
.nvg ul
{
display: flex;
flex-flow: row;
color: #757575;
align-items: center;
position: relative;
top: 6px;

}
.nvg li{
    padding: 0 40px;
    display: flex;
    align-items: center;
    font-size: 18px;
    vertical-align: middle;
}
.nvg button{
    border: 0;
    background-color: transparent;
    color:#757575;
}
.nvg button i{
    font-size: 35px;
}

@media (max-width:700px){
    .nvg ul,.DesktopOnly{
        display: none;
    }
}